<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Railway</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Railway</h1>
    </header>
    <main>
        <section class="description">
            <h2>Laboratorio de Railway</h2>
            <p>Railway es una plataforma que facilita la implementación y el despliegue de aplicaciones web, permitiendo a los desarrolladores enfocarse en la creación de sus aplicaciones sin preocuparse por la infraestructura subyacente.</p>
        </section>
        <section class="technologies">
            <h2>Tecnologías Utilizadas</h2>
            <ul>
                <li class="tooltip">Python
                    <span class="tooltiptext">Python: Un lenguaje de programación popular y versátil.</span>
                </li>
                <li class="tooltip">Flask
                    <span class="tooltiptext">Flask: Un framework minimalista para servidores web en Python.</span>
                </li>
                <li class="tooltip">Gunicorn
                    <span class="tooltiptext">Gunicorn: Un servidor WSGI para aplicaciones web en Python.</span>
                </li>
            </ul>
        </section>
    </main>
</body>
</html>
