<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Railway</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Railway</h1>
    </header>
    <main>
        <section class="description">
            <h2>Laboratorio de Railway</h2>
            <p>El objetivo de este laboratorio es implementar una aplicación sencilla de Flask que permita mostrar un mensaje “Hello World from Railway whit Flask!” en la ruta raíz de la aplicación.</p>
        </section>
        <section class="technologies">
            <h2>Tecnologías Utilizadas</h2>
            <ul>
                <li>Python</li>
                <li>Flask</li>
                <li>Gunicorn</li>
            </ul>
        </section>
        <section class="instructions">
            <h2>Instrucciones</h2>
            <p>Crea una cuenta en Railway.</p>
            <p>Crea un proyecto en Flask.</p>
            <p>Sigue las instrucciones para desplegar tu aplicación.</p>
        </section>
    </main>
</body>
</html>
